.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
    font-size: 20px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

/* body */
.search{
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 400px;
}


.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
}
.card>*{
    margin: 10px;
}
.resto-card{
    max-width: 220px;
    display: inline-block;
    border: 2px solid black;
}
.resto-card img{
    margin: 5px;
    padding: 5px;
    width: 200px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.res-logo{
    width: 100%;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: rgb(216, 215, 215);
}